#list_exam {
  padding: 0 0px;
}

#section-exam {
  background-blend-mode: normal, normal;
  height: 400px;
  width: 100%;
  text-align: left;
  justify-content: center;
  background: rgba(0, 0, 0, 0)
    url('../../../../assets/image/cover-on-luyen-1-scaled.jpg') no-repeat scroll
    50% 50% / cover padding-box border-box;
  background-size: cover;
} /*#SECTION_7*/

#text-header {
  color: rgb(255, 255, 255);
  padding-top: 250px;
  width: 525.3px;
  border: 0px none rgb(255, 255, 255);
  padding-left: 50px;
  font: 700 51.2px / 61.44px Poppins, sans-serif;
} /*#H1_5*/
